body{
    font-family: 'Encode Sans', sans-serif !important;
}

/* NAVBAR */
nav{
    /*descobrir como alterar tamanho navbar*/
    background-color: #0057DF;
    color: #FFFFFF !important;
}

#titulo{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

/* UTILITARIOS */

.login-opcao{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

.card{
    background-color: lightgray !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height: 180px;
    width: 180px;
    color: #5A5A5A;
    ;
}

#icon-login{
    height: 100px;
}


/*FOOTER*/
footer{
    padding-top: 25px;
    padding-bottom: 25px;
    background: #D9D9D9;
    font-weight: bold;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
}

#logo-consenso{
    height: 80px;
}

#footer-texto{
    margin-top: 20px;
}   
